fieldset legend {
	display: inline-block;
    width: inherit;
    padding: 0 10px;
}

.autocomplete-wrapper {
	margin-bottom: 10px; 
	position: relative;
}

.autocomplete-wrapper span.clear-text:before {
	display: none;
}
.autocomplete-wrapper span.clear-text.show:before {
	display: inline-block;
    position: absolute;
    right: 21px;
    top: 8px;
    content: '\00d7';
    background-color: #ccc;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    color: #fff;
    font-weight: bold;
    text-align: center;
    font-size: 24px;
    line-height: 20px;
    cursor: pointer;
}
.autocomplete-wrapper span.clear-text.show:before:hover {
	background-color: #eee;
}

.autocomplete-wrapper > ul {
    position: absolute;
    z-index: 1;
    background: #fff;
    border: 1px solid #ccc;
    width: calc(100% - 30px);
    margin-right: 15px;
    margin-top: -2px;
    list-style: none;
    padding: 0;
    padding-top: 10px;
    max-height: 200px;
    overflow: auto;
}

.autocomplete-wrapper > ul > li {
    padding: 5px 15px;
    cursor: pointer;
}
.autocomplete-wrapper > ul > li:hover {
	background-color: #fafafa;
}

.ui-autocomplete {
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1000;
	display: none;
	float: left;
	min-width: 160px;
	padding: 5px 0;
	margin: 2px 0 0;
	list-style: none;
	font-size: 14px;
	text-align: left;
	background-color: #ffffff;
	border: 1px solid #cccccc;
	border: 1px solid rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	background-clip: padding-box;
}

.ui-autocomplete > li > div {
	display: block;
	padding: 3px 20px;
	clear: both;
	font-weight: normal;
	line-height: 1.42857143;
	color: #333333;
	white-space: nowrap;
}

.ui-state-hover,
.ui-state-active,
.ui-state-focus {
	text-decoration: none;
	color: #262626;
	background-color: #f5f5f5;
	cursor: pointer;
}

.ui-helper-hidden-accessible {
  	border: 0;
  	clip: rect(0 0 0 0);
  	height: 1px;
  	margin: -1px;
  	overflow: hidden;
  	padding: 0;
  	position: absolute;
  	width: 1px;
}

#product-list-table table>tbody>tr>td.prd-quantity>input,
#product-list-table table>tbody>tr>td.quantity>input {
	max-width: 100px;
	display: inline-block;
}