
/********** Menu **********/
.common-home{
  .megamenu-style-dev ul.megamenu > li.home > a {
      background: #898989;
  }
}
.megamenu-style-dev{
    .navbar-default{background-color: transparent; border-color: transparent;
        .megamenu-wrapper{background: transparent;}
    }
    ul.megamenu {
      > li{
           > a{text-align: $left;color: #fff;font-size: 14px; height: auto; padding: 0 20px; line-height: 50px;}
      } 
       > li.home > a{
          
          background: transparent;
       }
      > li > a:hover, > li.active > a, > li:hover > a{background: #898989; color: #fff;}
      > li.with-sub-menu:hover > a:after{clear:both; content:' '; display:block; width:0; height:0; border-style:solid; border-color:transparent  transparent $background transparent; position:absolute; border-width:0px 7px 6px 7px; bottom:0px; left:50%; margin:0 0 0 -5px; z-index:1009;}
      .column{
           >a{font-weight: 700;font-size: 13px;color: #333;margin-bottom: 5px; text-transform: uppercase;
            &:hover{text-decoration: none;}
           }
           li a{display: inline-block; padding: 3px 0;}
         &.layout-color  li{
            a{position: relative;display: inline-block; padding: side-values(3px 0px 3px 30px);
             &:before {top:7px;content: "";width: 20px;height: 20px;display: inline-block;position: absolute;#{$left}: 0;#{$right}:inherit;}  
            }
            &.blue a:before{background: #5f87d1;}
            &.green a:before{background: #20bc5a;}
            &.orange a:before{background: #f8ab16;}
            &.boocdo a:before{background: #ea3a3c;}
            &.cyan a:before{background: #009688;}
           }
           
      }
      .sub-menu{
         a{
           color: $textBody ;
            &:hover{
                color: $linkColor;
            }
          }
           .title-submenu{text-align: $left;padding-left: 0; color: #000; text-transform: uppercase; border-bottom: 1px solid #ddd; font-size: 13px; font-weight: bold;}
           .content{border-top: 3px solid $linkColor;
            .hover-menu .menu ul{padding-top: 10px;
             a:before{content: ""; padding: 0;}
             a.main-menu{
              line-height: 30px;
              text-align: $left;
            }
            }
            > .border{border-bottom: none; padding: 0;  }
            .img{
             .row{margin-left: 0;}
             img{
                  &:hover{opacity: 0.8;}
             }
             &.img4 .row{margin-right: 0;}
            }
            .static-menu .menu ul{
             a.main-menu{padding-left: 0; padding-bottom: 10px; color: #000; text-transform: uppercase; border-bottom: 1px solid #ddd; font-size: 13px; font-weight: bold;
                  &:hover{color: $linkColor;}
             }
             ul{padding: 10px 0;
                  li{line-height: 30px;}
                  li:before{content: ""; padding: 0;}
             } 
            }
            .list-product{padding-left: 0;
             .product-thumb{border-bottom: 1px solid #ddd; padding: 10px;
                  .image{float: left; margin-right: 15px;
                   img{width: 84px; height: 84px;
                    &:hover{opacity: 0.8;}
                   }
                  }
                  .caption{overflow: hidden;
                   h4{font-weight: bold; font-size: 13px;}
                   .description{display: none;}
                  }
                 
             }
             &:last-child .product-thumb{border-bottom: 0;}
            }
            
            
           } 
      }  
    } 
}

/*************** End Menu **********/


.rtl{
     ul.megamenu > li{float: right;
      
     }
     .so-megamenu ul.megamenu .sub-menu .content .list-product .product-thumb .image{float: right; margin-right: 0; margin-left: 15px;}
     .so-megamenu ul.megamenu .column.layout-color li a{padding: 7px 30px 7px 0px;
      &:before{left: inherit; right: 0;}
     }
     .so-megamenu ul.megamenu .sub-menu .content .img {
      .row{margin-right: 0;}
     }
}
