@charset "UTF-8";
/*============HEADER V1 ==================*/
/* [2] */
/* [8] */
/*
 * Scut, a collection of Sass utilities
 * to ease and improve our implementations of common style-code patterns.
 * v1.4.0
 * Docs at http://davidtheclark.github.io/scut
 */
/*******************************************************
 Style Color
 ********************************************************/
.no-margin {
  margin: 0 !important;
}
/*Dev Custom */
.lib-list-item-product2 {
  border: none;
}
.lib-list-item-product2 .image-dev .list-button-dev {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 10;
  transform: translate3d(-50%, -50%, 0);
  -moz-transform: translate3d(-50%, -50%, 0);
  -webkit-transform: translate3d(-50%, -50%, 0);
  -ms-transform: translate3d(-50%, -50%, 0);
}
.lib-list-item-product2 .image-dev .list-button-dev li {
  display: inline-block;
  float: left;
  height: 40px;
  width: 40px;
  background: #fff;
  position: relative;
  border-width: 0 1px 0 0;
  border-style: solid;
  border-color: #ddd;
  opacity: 0;
  transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
}
.lib-list-item-product2 .image-dev .list-button-dev li:nth-child(1) {
  transform: translateX(40px);
  -moz-transform: translateX(40px);
  -webkit-transform: translateX(40px);
  -ms-transform: translateX(40px);
  z-index: 1;
  transition-delay: 0s;
}
.lib-list-item-product2 .image-dev .list-button-dev li:nth-child(2) {
  transition-delay: 0.2s;
  z-index: 2;
}
.lib-list-item-product2 .image-dev .list-button-dev li:nth-child(3) {
  transition-delay: 0.2s;
  z-index: 2;
}
.lib-list-item-product2 .image-dev .list-button-dev li:nth-child(4) {
  transform: translateX(-40px);
  -moz-transform: translateX(-40px);
  -webkit-transform: translateX(-40px);
  -ms-transform: translateX(-40px);
  z-index: 1;
  transition-delay: 0s;
}
.lib-list-item-product2 .image-dev .list-button-dev li:first-child {
  border-left: 1px solid #ddd;
}
.lib-list-item-product2 .image-dev .list-button-dev li a, .lib-list-item-product2 .image-dev .list-button-dev li button {
  background: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  line-height: 40px;
  text-align: center;
  box-shadow: none;
  border: none;
  color: #444;
  width: 40px;
  padding: 0;
}
.lib-list-item-product2 .image-dev .list-button-dev li:hover {
  background: #e21836;
}
.lib-list-item-product2 .image-dev .list-button-dev li:hover a, .lib-list-item-product2 .image-dev .list-button-dev li:hover button {
  color: #fff;
}
.lib-list-item-product2 .caption-dev {
  text-align: center;
  padding: 0 15px;
}
.lib-list-item-product2 .caption-dev .rating-dev {
  margin: 5px 0;
}
.lib-list-item-product2 .caption-dev .rating-dev .fa-stack-2x {
  font-size: 11px;
}
.lib-list-item-product2 .caption-dev .title-dev {
  color: #444;
  font-size: 13px;
}
.lib-list-item-product2 .caption-dev .price-dev .price.product-price {
  font-size: 16px;
}
.lib-list-item-product2 .caption-dev .price-dev .price-new {
  font-size: 16px;
}
.lib-list-item-product2 .caption-dev .price-dev .price-old {
  font-size: 12px;
}
.lib-list-item-product2 .caption-dev .add-cart-dev {
  background: #fff;
  border: 1px solid #ddd;
  font-size: 12px;
  text-transform: uppercase;
  color: #999;
  font-weight: bold;
  box-shadow: none;
  border-radius: 0;
  padding: 6px 20px;
  margin: 0 0 30px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.lib-list-item-product-over2 .image-dev .list-button-dev li {
  opacity: 1;
  transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
}
.lib-list-item-product-over2 .image-dev .list-button-dev li:nth-child(1) {
  transform: translateX(0);
  -moz-transform: translateX(0);
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transition-delay: 0.2s;
}
.lib-list-item-product-over2 .image-dev .list-button-dev li:nth-child(2) {
  transition-delay: 0s;
}
.lib-list-item-product-over2 .image-dev .list-button-dev li:nth-child(3) {
  transition-delay: 0s;
}
.lib-list-item-product-over2 .image-dev .list-button-dev li:nth-child(4) {
  transform: translateX(0);
  -moz-transform: translateX(0);
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transition-delay: 0.2s;
}
/*===============================================
 [SASS DIRECTORY ]
 [1] BLOCK HEADER
 [2] BLOCK FOOTER
 ==============================================*/
.typeheader-8 {
  background-color: #e5e5e5;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  /*HEADER SEARCH*/
}
.typeheader-8 .header-top {
  height: 36px;
  background: #202020;
}
.typeheader-8 .header-top .header-top-left .languages-block, .typeheader-8 .header-top .header-top-left .currencies-block {
  z-index: 99;
  position: relative;
  vertical-align: top;
}
.typeheader-8 .header-top .header-top-left .languages-block form .btn-group, .typeheader-8 .header-top .header-top-left .currencies-block form .btn-group {
  vertical-align: top;
}
.typeheader-8 .header-top .header-top-left .languages-block form .btn-group .btn-link, .typeheader-8 .header-top .header-top-left .currencies-block form .btn-group .btn-link {
  color: #bcbdc7;
  display: block;
  line-height: 34px;
  padding: 1px 10px;
  height: 34px;
  border: none;
}
.typeheader-8 .header-top .header-top-left .languages-block form:hover .btn-group .btn-link, .typeheader-8 .header-top .header-top-left .currencies-block form:hover .btn-group .btn-link {
  color: #fff;
}
.typeheader-8 .header-top .header-top-left .languages-block form img, .typeheader-8 .header-top .header-top-left .currencies-block form img {
  margin-top: -2px;
}
.typeheader-8 .header-top .header-top-left .languages-block form span.fa-angle-down, .typeheader-8 .header-top .header-top-left .currencies-block form span.fa-angle-down {
  margin-left: 3px;
}
.typeheader-8 .header-top .header-top-left .currencies-block {
  margin-left: -7px;
}
.typeheader-8 .header-top .header-top-left .dropdown-menu {
  left: inherit;
  right: 0;
}
.typeheader-8 .header-top .header-top-right {
  text-align: left;
  display: inline-block;
}
.typeheader-8 .header-top .header-top-right ul.top-link {
  list-style: none;
  margin: 0;
  vertical-align: top;
}
.typeheader-8 .header-top .header-top-right ul.top-link > li {
  display: inline-block;
  position: relative;
  float: right;
  list-style: outside none none;
  height: 34px;
  line-height: 34px;
  padding-right: 15px;
  padding-left: 0px;
  float: right;
}
.typeheader-8 .header-top .header-top-right ul.top-link > li > a {
  display: block;
  line-height: 15px;
  padding: 0 10px;
  position: relative;
  height: 34px;
  line-height: 34px;
  color: #bcbdc7;
  padding: 0px 20px 0px 0px !important;
}
.typeheader-8 .header-top .header-top-right ul.top-link > li > a:before {
  background-image: url("../../images/icon/ico-quicklink.png");
  background-position: 0px -27px;
  background-repeat: no-repeat;
  content: "";
  height: 16px;
  right: 0;
  left: inherit;
  position: absolute;
  top: 10px;
  width: 18px;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
.typeheader-8 .header-top .header-top-right ul.top-link > li.account > a {
  color: #bcbdc7;
  padding: 0px 20px 0px 0px !important;
  text-indent: inherit;
  font-size: 13px;
  line-height: 34px;
  background: transparent;
}
.typeheader-8 .header-top .header-top-right ul.top-link > li.account > a:hover:before {
  background-position: 0 0;
}
.typeheader-8 .header-top .header-top-right ul.top-link > li.account > a .fa-angle-down {
  margin-left: 5px;
}
.typeheader-8 .header-top .header-top-right ul.top-link > li:hover > a {
  padding: 0px 20px 0px 0px !important;
}
.typeheader-8 .header-top .header-top-right ul.top-link > li.wishlist a:before {
  background-position: center -81px;
}
.typeheader-8 .header-top .header-top-right ul.top-link > li.checkout a:before {
  background-position: center -140px;
}
.typeheader-8 .header-top .header-top-right ul.top-link > li.login a:before {
  background-position: center -196px;
  top: 9px;
}
.typeheader-8 .header-top .header-top-right ul.top-link > li:hover {
  background: transparent;
}
.typeheader-8 .header-top .header-top-right ul.top-link > li:hover > a {
  color: #fff;
  background: transparent;
}
.typeheader-8 .header-top .header-top-right ul.top-link > li:hover.wishlist a:before {
  background-position: center -53px;
}
.typeheader-8 .header-top .header-top-right ul.top-link > li:hover.checkout a:before {
  background-position: center -109px;
}
.typeheader-8 .header-top .header-top-right ul.top-link > li:hover.login a:before {
  background-position: center -168px;
}
.typeheader-8 .header-top .header-top-right ul.top-link > li ul.dropdown-link {
  position: absolute;
  background: #fff;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
  left: 0;
  opacity: 0;
  padding: 0px 10px;
  top: 33px;
  transition: top 0.3s ease 0s, opacity 0.3s ease 0s;
  width: 200px;
  z-index: -1;
  text-align: left;
}
.typeheader-8 .header-top .header-top-right ul.top-link > li ul.dropdown-link li {
  display: block;
  border-left: 0;
}
.typeheader-8 .header-top .header-top-right ul.top-link > li ul.dropdown-link li a {
  border-right: 0;
  display: block;
  padding: 5px 0 4px;
  border-bottom: solid 1px #efefef;
  font-size: 11px;
  line-height: 18px;
  color: #666;
}
.typeheader-8 .header-top .header-top-right ul.top-link > li ul.dropdown-link li a:hover {
  color: #e21836;
}
.typeheader-8 .header-top .header-top-right ul.top-link > li ul.dropdown-link li a:after {
  display: none;
}
.typeheader-8 .header-top .header-top-right ul.top-link > li ul.dropdown-link li:last-child a {
  border-bottom: 0;
}
.typeheader-8 .header-top .header-top-right ul.top-link > li.account:hover ul.dropdown-link {
  top: 34px;
  z-index: 9999;
  opacity: 1;
  border-top: 1px solid rgba(200, 199, 199, 0.3);
}
.typeheader-8 .header-top .header-top-right .dropdown-menu {
  left: 0;
  right: inherit;
}
.typeheader-8 .header-center {
  padding: 27px 0 16px;
}
.typeheader-8 .header-bottom {
  background: #fff;
}
.typeheader-8 .header-bottom .container .header-bottom-inner {
  display: inline-block;
  background: #222;
  width: 100%;
}
.typeheader-8 .header-bottom .container .header-bottom-inner .header-bottom-left {
  padding-left: 20px;
}
.typeheader-8 .header-bottom .container .header-bottom-inner .header-bottom-right {
  padding-right: 10px;
}
.typeheader-8 .header-bottom .container .header-bottom-inner .header_search {
  padding: 0;
  margin-top: 7px;
}
@media (min-width: 1200px) {
  .typeheader-8 .header-bottom .container .header-bottom-inner .header_search {
    width: 70%;
  }
}
.typeheader-8 .header-bottom .container .header-bottom-inner .header_custom_link {
  float: left;
  padding-left: 15px;
}
.typeheader-8 .header-bottom .container .header-bottom-inner .header_custom_link ul li a {
  line-height: 45px;
  color: #fff;
  text-transform: uppercase;
  padding: 0 18px 0 0;
  font-weight: bold;
}
.typeheader-8 .header-bottom .container .header-bottom-inner .header_custom_link ul li a i {
  font-size: 15px;
  margin-left: 5px;
}
.typeheader-8 .header-bottom .container .header-bottom-inner .header_custom_link ul li a:hover {
  color: #e21836;
}
.typeheader-8 .header-bottom .container .content_menu {
  padding: 0;
}
.typeheader-8.navbar-compact .header-top {
  display: none;
}
.typeheader-8.navbar-compact .header-bottom {
  display: none;
}
.typeheader-8.navbar-compact .header-center {
  padding: 20px 0;
}
.typeheader-8 #main-content, .typeheader-8 #content {
  margin-bottom: 30px;
}
.typeheader-8 .btn-shopping-cart .dropdown-menu:after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 3px;
  position: absolute;
  top: 0;
  z-index: 1;
  background: #e21836;
  left: 0;
  right: 0;
}
.typeheader-8 #sosearchpro.so-search {
  width: 300px;
  padding: 2px 0;
  margin-right: 0;
  margin-left: 43px;
}
.typeheader-8 #sosearchpro.so-search .select_category {
  width: 124px;
  border: none;
  border-right: 1px solid #232f3e;
  display: none;
  border-radius: 20px 0 0 20px !important;
  border-radius: 0 20px 20px 0 !important;
}
.typeheader-8 #sosearchpro.so-search .select_category select {
  padding: 0 15px;
  height: 40px;
  line-height: 40px;
  background: #fff;
  border-radius: 20px 0 0 20px !important;
  display: none;
  border-radius: 0 20px 20px 0 !important;
}
.typeheader-8 #sosearchpro.so-search .autosearch-input {
  line-height: 40px;
  height: 40px;
  border: none;
  border-radius: 20px 0 0 20px !important;
  padding-right: 20px;
  border-radius: 0 20px 20px 0 !important;
}
.typeheader-8 #sosearchpro.so-search .icon-select:after {
  top: 2px;
}
.typeheader-8 #sosearchpro.so-search .button-search {
  height: 40px;
  width: 55px;
  line-height: 40px;
  background: #e21836;
  border: none;
  text-align: center;
  margin: 0;
  border-radius: 0 20px 20px 0;
  border-radius: 20px 0 0 20px !important;
}
.typeheader-8 #sosearchpro.so-search .button-search i {
  position: relative;
  font-size: 16px;
  color: #fff;
  text-align: center;
  display: inline-block;
  width: 100%;
  margin: 0;
  height: 40px;
  line-height: 40px;
  top: -2px;
  left: 3px;
}
.typeheader-8 #sosearchpro.so-search .button-search:hover {
  background: #b4132b;
}
.typeheader-8 #sosearchpro.so-search .button-search:hover i {
  color: #fff;
}
.typeheader-8 .header-middle-right {
  margin-top: 3px;
}
.typeheader-8 .btn-shopping-cart .dropdown-menu {
  border: none;
}
.typeheader-8 .btn-shopping-cart .dropdown-menu:before {
  display: none;
}
.typeheader-8 .shopping_cart a.top_cart .handle {
  background-color: #e21836;
}
.typeheader-8 .shopping_cart a.top_cart .shopcart .title {
  margin: 0;
  padding: 0;
  white-space: nowrap;
  text-transform: uppercase;
  font-weight: 700;
  color: #222;
  position: relative;
  top: 2px;
}
.typeheader-8 .shopping_cart .btn-group {
  width: auto;
  min-width: 144px;
}
.typeheader-8 .shopping_cart a.top_cart .shopcart .text-shopping-cart {
  color: #666;
}
.typeheader-8 .shopping_cart a.top_cart .handle {
  margin-right: 0;
}
.typeheader-8 .box-phone .phone-header {
  background: url("../../images/icon/phone-icon-3.png") no-repeat right center;
  margin-top: 0;
  color: #666;
  text-transform: uppercase;
  padding-right: 37px;
  padding-left: 20px;
}
.typeheader-8 .box-phone .phone-header h3 {
  font-size: 100%;
  position: relative;
  top: 5px;
  margin-bottom: 5px;
  font-weight: bold;
  color: #222;
  padding-right: 5px;
}
.typeheader-8 .box-phone .phone-header p {
  font-size: 100%;
  margin: 0;
  padding-right: 5px;
}
.typeheader-8 .megamenu-style-dev.menu-vetical {
  z-index: 999;
}
.typeheader-8 .menu-vetical .megamenuToogle-wrapper {
  background: transparent;
}
.typeheader-8 .container-megamenu.vertical #menuHeading .megamenuToogle-wrapper .container > div {
  display: none;
}
.typeheader-8 .container-megamenu.vertical #menuHeading .megamenuToogle-wrapper .container {
  padding: 0 !important;
}
.typeheader-8 .container-megamenu.vertical #menuHeading .megamenuToogle-wrapper .container .title-nav {
  display: block;
  line-height: 45px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 13px;
  color: #fff;
}
.typeheader-8 .container-megamenu.vertical #menuHeading .megamenuToogle-wrapper .container .title-nav:after {
  content: '\f0d7';
  display: inline-block;
  font-family: FontAwesome;
  text-align: center;
  font-size: 12px;
  color: #bcbdc7;
  margin-right: 5px;
}
.typeheader-8 .container-megamenu.vertical #menuHeading .megamenuToogle-wrapper .arrow-circle {
  display: none;
}
.typeheader-8 .container-megamenu.vertical .vertical-wrapper {
  min-width: 270px;
  border-top: none;
  top: 130%;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  display: block;
  visibility: hidden;
  opacity: 0;
}
.typeheader-8 .container-megamenu.vertical .vertical-wrapper ul.megamenu:before {
  content: "";
  display: inline-block;
  width: 101%;
  height: 3px;
  position: absolute;
  top: 0;
  z-index: 1;
  background: #f4a137;
  left: 0;
  right: -1px;
}
.typeheader-8 .container-megamenu.vertical:hover .vertical-wrapper {
  top: 100%;
  opacity: 1;
  visibility: visible;
}
.typeheader-8 .megamenu-style-dev ul.megamenu > li.home > a, .typeheader-8 .megamenu-style-dev ul.megamenu > li > a:hover, .typeheader-8 .megamenu-style-dev ul.megamenu > li.active > a, .typeheader-8 .megamenu-style-dev ul.megamenu > li:hover > a {
  background: transparent;
}
.typeheader-8 .megamenu-style-dev .container-megamenu.horizontal ul.megamenu > li > a strong {
  font-weight: bold;
}
.typeheader-8 .megamenu-style-dev .container-megamenu.horizontal ul.megamenu > li > a {
  line-height: 60px;
  color: #222;
  text-transform: uppercase;
  font-weight: bold;
}
.typeheader-8 .megamenu-style-dev .container-megamenu.horizontal ul.megamenu > li:hover > a {
  background: transparent;
  color: #e21836;
}
.typeheader-8 .megamenu-style-dev .container-megamenu.horizontal ul.megamenu > li .label {
  font-size: 11px;
  color: #fff;
  display: inline-block;
  background-color: #e74c3c;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  line-height: 18px;
  height: 18px;
  padding: 0 7px;
  position: absolute;
  top: -10px;
  font-weight: normal;
  text-transform: capitalize;
  left: 0;
}
.typeheader-8 .megamenu-style-dev .container-megamenu.horizontal ul.megamenu > li .label:before {
  content: '';
  display: inline-block;
  width: 0;
  height: 0;
  position: absolute;
  bottom: -5px;
  border-top: 5px solid #e74c3c;
  border-left: 5px solid transparent;
  right: 10px;
}
@media (min-width: 1200px) {
  .typeheader-8 .megamenu-style-dev .container-megamenu.horizontal ul.megamenu > li.hidden.offer-h6, .typeheader-8 .megamenu-style-dev .container-megamenu.horizontal ul.megamenu > li.hidden.offer-h5 {
    display: block !important;
    float: left;
  }
  .typeheader-8 .megamenu-style-dev .container-megamenu.horizontal ul.megamenu > li.hidden.offer-h6 a, .typeheader-8 .megamenu-style-dev .container-megamenu.horizontal ul.megamenu > li.hidden.offer-h5 a {
    padding-left: 0;
  }
}
