/*===============================================
	[SASS DIRECTORY ]
	
    [1] MODULE DEFAULT
    [2] BLOCK SEARCH
    [3] SO MEGA MENU
	[4] MY CART
    [5] MODULE SO DEALS
    [6] MODULE SO CATEGORI SLIDE
    [7] MODULE CUSTOM TESTER
    [8] MODULE HTML CUSTOM BRAND
    [9] MODULE SO LATEST BLOG
==============================================*/
.sohomepage-slider .so-homeslider{border: none;}
#collections_block{
    margin-bottom: 10px;
     ul li{
        width: 20%;
    }
}
.common-home #content{
    margin-top: 30px;
    margin-bottom: 0;
}
.container-megamenu.vertical .vertical-wrapper{
    position: relative !important;
    margin-bottom: 30px;
}
.module{
    margin-bottom: 30px;
}
div.style-dev-so-listing-tabs{
    margin-bottom: 15px;
}
.module.basic-product-list{
    margin-bottom: 37px !important;
}
.module.basic-product-list{
    margin-bottom: 16px !important;
}
.banner-wraps{
    overflow: hidden;
    margin-bottom: 30px;

     @media (min-width:1200px){
        .htmlconten1{
            width: 36%;
            padding-left: 0;
        }
        .htmlconten3 {
            width: 36%;
            padding-right: 0;
        }
        .htmlconten2{
             width: 28%;
         }
     }
    .htmlconten2{
        padding: 0 5px;
         a img {
            min-height: 100px;
        }
        a.row1{
            margin-bottom: 20px;
            img {
                min-height: 113px;
            }
        }
      
    }
    
     .m-banner {
      float: left;
      width: 100%; 
       a {
            overflow: hidden;
            display: block;
            float: left;
            position: relative;
            width: 100%;
            &:before{
                position: absolute;
                background: rgba(0, 0, 0, 0.3);
                width: 0;
                top: 0;
                left: 50%;
                content: "";
                transition: all 0.3s ease-in-out 0s;
            }
            &:hover:before {
                width: 100%;
                left: 0;
                top: 0;
                height: 100%;
            }
        }
      .m-banner-right {
            float: left;
            width: 67.5%;
            .m-banner34 {
                margin-top: 10px;
                float: left;
                .m-banner3 {
                    margin-right: 10px;
                }
                  .m-banner4,.m-banner3 {
                    float: left;
                    width: 49.1%;
                }
            }
        }
        .m-banner1 {
            float: right;
            margin-left: 10px;
            width: 31%;
        }
    }
   
}
