/*===============================================
	[SASS DIRECTORY ]
	
    [1] MODULE DEFAULT
    [2] BLOCK SEARCH
    [3] SOCIAL FOOTER
	
==============================================*/

.sohomepage-slider .so-homeslider{border: none;margin-top: 10px !important;margin-bottom: 34px !important;}
.left_column .module, .right_column .module{
    margin-bottom: 40px;
}

.common-home.layout-2{
    #content{
        margin-bottom: 0;
    }
}
#collections_block{
    margin-bottom: 10px;
     ul li{
        width: 20%;
    }
}
.banner-wraps{
    overflow: hidden;
    margin-bottom: 30px;
     .m-banner {
      float: left;
      width: 100%; 
       a {
            overflow: hidden;
            display: block;
            float: left;
            position: relative;
            width: 100%;
            &:before{
                position: absolute;
                background: rgba(0, 0, 0, 0.3);
                width: 0;
                top: 0;
                left: 50%;
                content: "";
                transition: all 0.3s ease-in-out 0s;
            }
            &:hover:before {
                width: 100%;
                left: 0;
                top: 0;
                height: 100%;
            }
        }
      .m-banner-right {
            float: left;
            width: 67.5%;
            .m-banner34 {
                margin-top: 10px;
                float: left;
                .m-banner3 {
                    margin-right: 10px;
                }
                  .m-banner4,.m-banner3 {
                    float: left;
                    width: 49.1%;
                }
            }
        }
        .m-banner1 {
            float: right;
            margin-left: 10px;
            width: 31%;
        }
    }

}
.module.basic-product-list{
    margin-bottom: 15px;
}
