/*===============================================
    [SASS DIRECTORY ]
    
    [1] MODULE DEFAULT
    [2] BLOCK SEARCH
    [3] SO MEGA MENU
    [4] MY CART
    [5] MODULE SO DEALS
    [6] MODULE SO CATEGORI SLIDE
    [7] MODULE CUSTOM TESTER
    [8] MODULE HTML CUSTOM BRAND
    [9] MODULE SO LATEST BLOG
==============================================*/
.sohomepage-slider .so-homeslider{border: none;}
.container-megamenu .vertical-wrapper {
    display: none;
}
.container-megamenu:hover .vertical-wrapper {
    display: block;
}
.common-home #content{
    margin-top: 30px;
    margin-bottom: 0;
}


