.container-fluid{padding:0; overflow:hidden;}.container{padding:0; overflow:hidden;}section{overflow:hidden;}
.section-style{background-image:url('../../../../../image/catalog/demo/banners/home5/bg-clientsay-group.jpg');background-repeat:no-repeat; background-position:center center; background-attachment:fixed ;background-size:cover;}

