.so-page-builder .container-fluid{padding:0; overflow:hidden;}.so-page-builder .container{padding:0; overflow:hidden;}.so-page-builder section{overflow:hidden;}
.section_slider{background-image:url('../../../../../image/catalog/demo/banners/home11/bg-slideshow.jpg');background-repeat:no-repeat; background-position:center center; background-attachment:scroll ;}

.section-style{background-color:rgba(245,245,245,1);}

