/********************************************************
 *  DataTables
 ********************************************************/

.datatable-custom-filters {
  margin: 15px 0 20px; 
}
.datatable-custom-filters input.form-control {
  border: 1px solid rgba(33, 33, 33, 0.12);
  border-radius: 0;
  background-color: #fff;
  box-shadow: none;
  min-width: 300px;
  color: #212121;
  height: 42px; 
}
.datatable-custom-filters button.btn {
  border-radius: 0px;
  padding: 11px 25px 12px !important; 
  background-color: rgb(56,56,56);
}
.datatable-custom-filters button.btn.dropdown-toggle {
  background: gainsboro;
  border: solid 1px gainsboro;
  border-radius: 0px;
  color: #212121;
  z-index: 2;
  margin-left: -4px; 
}
.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px dashed;
  border-top: 4px solid\9;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent; 
}  
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  box-shadow: 0 6px 12px rgba(0,0,0,.175); 
}
.dropdown-menu-right {
  right: 0;
  left: auto; 
}
.dropdown-menu {
  border-radius: 2px;
  border: none;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.175); 
}
.input-group-btn.open .dropdown-menu {
  display: block;
}

/********************************************************
 *  Add/remove cart items
 ********************************************************/

 .cart-info table {
   font-size: 13px;
 }

.cart-info td.quantity > .qty,
.cart .quantity > .qty {
  width: 100%;
  display: block;
  float: left;
  height: 40px;
  margin-right: 8px;
  overflow: hidden; }
.cart-info td.quantity > .qty > .product-info1,
.cart .quantity > .qty > .product-info1 {
  float: left;
  width: 50%;
  line-height: 17px;
  height: 100%;
  text-align: center;
  margin: 0;
  border: 0; 
  -webkit-appearance: none;
  background: white;
  border-radius: 0;
  border-width: 1px;
  border-style: solid;
  padding: 5px 10px;
  transition: all 0.2s;
  font-size: 13px;
  min-height: 35px;
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.08);
  background-color: rgb(229, 229, 229);
  border-color: rgb(183, 183, 183);
}
.cart-info td.quantity > .qty > .journal-stepper,
.cart .quantity > .qty > .journal-stepper {
  background-color: rgb(56, 56, 56);
  color: rgb(255, 255, 255);
  width: 17%;
  text-align: center;
  height: 100%;
  float: left;
  line-height: 37px;
  font-size: 20px;
  font-style: normal;
  font-weight: normal;
  transition: all 0.2s;
  display: inline-block; 
}
.cart-info td.remove-from-cart > .btn-remove-cart-item {
  color: red; 
}
.cart-info td.remove-from-cart > .btn-remove-cart-item > i {
  font-size: 1.3em; 
}
.cart-info td.remove-from-cart > .btn-remove-cart-item > i:hover,
.cart-info td.remove-from-cart > .btn-remove-cart-item > i:focus {
  color: rgb(56, 56, 56); 
}
.cart-info table > thead > tr > td,
.cart-info table > thead > tr > th,
.cart-info table.footable > thead > tr.footable-header > th,
.cart-info table.footable > thead > tr.footable-header > td {
  background-color: #fff;
  color: rgb(70, 71, 73);
  text-transform: uppercase; 
  border-bottom: 2px solid rgba(33, 33, 33, 0.1);
  padding: 10px;
}
.cart-info table > tbody > tr > td,
.cart-info table > tbody > tr > th,
.cart-info table.footable > tbody > tr > td,
.cart-info table.footable > tbody > tr > th {
  color: #878787;
  font-size: 13px; 
}
.cart-info table > tfoot > tr > td,
.cart-info table > tfoot > tr > th {
  font-size: 14px;
  border: none; 
  background-color: white;
}
.cart-info table > tfoot > tr:first-child > td,
.cart-info table > tfoot > tr:first-child > th {
  border-top: 1px solid rgb(228, 228, 228); 
}
.cart-info table > tfoot > tr > td:first-child,
.cart-info table > tfoot > tr > th:first-child {
  padding: 10px 15px; 
}
.cart-info table > tfoot > tr > td:nth-child(2),
.cart-info table > tfoot > tr > th:nth-child(2),
.cart-info table > tfoot > tr > td:nth-child(3),
.cart-info table > tfoot > tr > th:nth-child(3) {
  padding: 10px 6px;
}
.cart-info table > tfoot > tr:last-child > td,
.cart-info table > tfoot > tr:last-child > th {
  border-bottom: 1px solid rgba(33, 33, 33, 0.1);
}
.cart-info th.image {
  text-align: left;
}
.cart-info .price, 
.cart-info .total {
  min-width: 100px;
}
.cart-info table > tfoot > tr > th {
  text-align: right;
}
.quantity.add_to_cart-disabled {
  opacity: .5;
  cursor: not-allowed;
}
.quantity.add_to_cart-disabled a {
  cursor: not-allowed;
}

/********************************************************
 *  DataTable pagination
 ********************************************************/

.dataTables_wrapper .dataTables_info {
  margin-top: 15px;
}
.dataTables_wrapper .dataTables_paginate {
  border: 1px solid rgba(33, 33, 33, 0.1);
  border-radius: .25rem;
  padding: 0;
  margin: 10px 0 0 0;
  font-size: 13px;
  font-weight: 600;
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
  padding: 0.65em 1.2em;
  margin: 0;
  border-radius: 0;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled, 
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover, 
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
  color: #999 !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current, 
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover,
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  background: rgb(56,56,56);
  border: none;
  color: #fff !important;
  margin: 0;
  border: 1px solid transparent;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  background: transparent;
  color: rgb(56,56,56) !important;
}

/********************************************************
 *  Import to cart
 ********************************************************/

button#import-cart,
button#clear-cart {
  margin: 8px;
  background-color: #fff;
  color: initial;
  padding: 2px 10px;
  font-size: 13px; 
}
button#import-cart:not('.disabled'):active,
button#import-cart:not('.disabled'):focus,
button#import-cart:not('.disabled'):hover,
button#clear-cart:not('.disabled'):active,
button#clear-cart:not('.disabled'):focus,
button#clear-cart:not('.disabled'):hover {
  color: rgb(70, 130, 180); 
}
button#import-cart > i:before,
button#clear-cart > i:before {
  color: inherit;
  content: "\f019";
  font-family: 'FontAwesome';
  position: relative;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  color: inherit;
  font-size: inherit;
  display: inline-block;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
button#clear-cart > i:before {
  content: "\f1f8";
}
button#import-cart.disabled,
button#import-cart.disabled {
  color: #999;
  cursor: not-allowed; 
}

form#form-cart-importer {
  display: inline;
}


/********************************************************
 *  DataTable file export buttons
 ********************************************************/

#export-buttons .dt-buttons {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  vertical-align: middle;
}
#export-buttons .dt-buttons .dt-button {
  background: #fff;
  border-color: rgba(33, 33, 33, 0.1);
  margin: 0 -1px 0 0;
  padding: 0.7em 1.2em;
  border-radius: 0;
  font-size: 13px;
}
#export-buttons .dt-buttons .dt-button:hover,
#export-buttons .dt-buttons .dt-button:focus,
#export-buttons .dt-buttons .dt-button:active {
  background: rgba(33, 33, 33, 0.1);
  border-color: transparent;
}
#export-buttons .dt-button.buttons-copy {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
#export-buttons .dt-button.buttons-pdf {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

/********************************************************
 *  Cart import [custom] modal
 ********************************************************/

 #modalImportCart .modal-body .steps {
  position: relative;
  display: block;
  width: 100%;
}
#modalImportCart .modal-body .steps > ul {
  display: table;
  width: 100%;
  table-layout: fixed;
  margin: 0;
  padding: 0;
  list-style: none;
}
#modalImportCart .modal-body .steps > ul > li {
  display: table-cell;
  width: auto;
  vertical-align: top;
  text-align: center;
  position: relative;
  float: none;
}
#modalImportCart .modal-body .steps > ul > li:after, 
#modalImportCart .modal-body .steps > ul > li:before {
  content: '';
  z-index: 9;
  display: block;
  position: absolute;
}
#modalImportCart .modal-body .steps > ul > li:after {
  right: 0;
}
#modalImportCart .modal-body .steps > ul > li:after, 
#modalImportCart .modal-body .steps > ul > li:before {
  top: 45px;
  width: 50%;
  height: 3px;
  background-color: rgb(56,56,56);
}
#modalImportCart .modal-body .steps > ul > li.current:after, 
#modalImportCart .modal-body .steps > ul > li.current~li:after, 
#modalImportCart .modal-body .steps > ul > li.current~li:before {
  background-color: #F3F3F3;
}
#modalImportCart .modal-body .steps > ul > li:first-child:before,
#modalImportCart .modal-body .steps > ul > li:last-child:after {
    content: none
}
#modalImportCart .modal-body .steps > ul > li > a {
  position: relative;
  padding-top: 60px;
  margin-top: 20px;
  margin-bottom: 20px;
  display: block;
  font-size: .7em;
}
#modalImportCart .modal-body .steps > ul > li.current > a {
  color: #2f3d4a;
  cursor: default;
  font-weight: 600;
}
#modalImportCart .modal-body .steps .current-info {
  position: absolute;
  left: -99999px;
}
#modalImportCart .modal-body .steps .step {
  background-color: #fff;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -28px;
  z-index: 10;
  text-align: center;
  width: 50px;
  height: 50px;
  line-height: 50px;
  border: 3px solid #F3F3F3;
  font-size: .8rem;
  border-radius: 50%;
}
#modalImportCart .modal-body .steps > ul > li.current .step {
  border-color: rgb(56,56,56);
  background-color: #fff;
  color: rgb(56,56,56);
}
#modalImportCart .modal-body .steps > ul > li.disabled a, 
#modalImportCart .modal-body .steps > ul > li.disabled a:focus, 
#modalImportCart .modal-body .steps > ul > li.disabled a:hover {
  color: #999;
  cursor: default;
}
#modalImportCart .modal-body .steps > ul > li.done .step {
  background-color: rgb(56,56,56);
  border-color: rgb(56,56,56);
  color: #fff;
}
#modalImportCart .modal-body .steps > ul > li.done > a {
  font-weight: 600;
  color: rgb(56,56,56);
}
#modalImportCart .modal-body .text-area {
  text-align: center;
  font-size: 12px;
}
#modalImportCart .modal-body .text-area p {
  display: block;
  margin-top: -20px;
  font-size: 12px;
  margin-bottom: 15px;
  font-weight: 400;
  color: #555;
}
#modalImportCart button:disabled,
#modalImportCart button[disabled="disabled"] {
  cursor: not-allowed;
  opacity: .6;
}
.ajax__loader {
  display: none;
}
.ajax__loader.load {
  display: block;
}
.cart__items-not-found {
  font-size: 13px;
  margin-bottom: 30px !important;
}
.cart__items-not-found table.table.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.05);
}
.cart__items-not-found table.table th,
.cart__items-not-found table.table td {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}
.cart__items-not-found table.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
}
.cart__items-not-found table.table tbody + tbody {
  border-top: 2px solid #dee2e6;
}
.cart__items-not-found table.table .table {
  background-color: #fff;
}
.cart__items-not-found table.table.dataTable.no-footer {
  border-bottom: 2px solid #dee2e6;
}

/********************************************************
 *  Checkout page
 ********************************************************/

.checkout-product table > thead > tr > td {
  font-size: 13px;
  background-color: #fff;
  color: rgb(70, 71, 73);
  text-transform: uppercase;
  border-bottom: 2px solid rgba(33, 33, 33, 0.1);
  padding: 10px;
}
.checkout-product table > tbody > tr > td {
  font-size: 13px;
  padding: 14px 10px;
}
.checkout-product table > tfoot > tr > td {
  font-size: 13px;
  background-color: #fff;
  color: rgb(70, 71, 73);
  text-transform: uppercase;
  border-top: 2px solid rgba(33, 33, 33, 0.1);
  padding: 10px;
}
.checkout-product table > tfoot > tr:nth-child(2) > td {
  border: none;
}
.checkout-product table tr > td.quantity {
  text-align: center;
}

.stock-alert {
  font-family: Tahoma, Geneva, Arial, sans-serif;
  display: inline-block;
  color: #F52D29;
  margin-top: 2px;
  font-size: 11px;
  border-radius: 1px;
  padding: 4px 8px;
  background-color: #ffecec;
  border: 1px solid #f5aca6;
}