/************************************************************************************************
    FOOTER DEFFAULT
*************************************************************************************************/
footer{ 
@include rem(font-size, 12px);
   color: #666;
  a{ color: inherit; }
  .module{ margin: 0; 
    h3.modtitle,
    h3.footer-title{
      line-height: 30px;
      padding: 0 0 1px 0;
      position: relative;
      @include rem(font-size, 14px); 
      font-weight: bold;
      text-shadow: none;
      background: transparent;
      text-transform: capitalize;
      margin-bottom: 3px;
      color: #333;
      &:before{ display: none;}
    }
  }

  /*FOOTER TOP*/
  .footer-top {  background-color: #dddddd; padding-top: 34px;
     ul.menu{
       li{ 
        padding-bottom: 5px;
        @include transition (all .5s ease-in-out);
        &:hover{
          margin-left: 10px;
        }
          a{
          position: relative;
          padding-#{$left}: 10px;
          @include if-rtl {
            &:before{ content: "\f100"!important; font-family: FontAwesome; position: absolute; right: 0;}
          }
          @include if-ltr {
            &:before{content: "\f101"; font-family: FontAwesome; position: absolute; left: 0;}
          }
          
          &:hover{  color: $linkColor; } 
         }
        }
      }
      .contact-address{
          list-style: none;
          margin: 0;
          padding: 0;
         li{color: #444444;padding: side-values(0 0 5px 41px);position: relative;z-index: 1;line-height: 18px;}
          span{padding-#{$left}: 4px; font-size: 18px;#{$left}: 0px;#{$right}: inherit;margin-#{$right}: 10px;position: absolute;background-color: #969696;height: 30px;top: 4px;color: white;border-radius: 2px;width: 30px; line-height: 30px; text-align: center;
           &:hover{background-color: $background1;}
          }
           > li:nth-child(2) {padding-top: 7px;
           span{margin-top: -1px;}
        }
          > li:last-child{padding-top: 8px;
           span{margin-top: 7px;}
          }
          a:hover{color: $linkColor;}

      }
     
   }

  /*FOOTER CENTER*/
  .footer-center{
     background-color: #dddddd;
     /*-----------FOOTER LINK -------------------*/
    .footer-directory-title{
      padding: 36px 0 38px;
      font-size: 91.6%;
      background: url('../../images/line-bg.png') repeat-x top left;
      margin-top: 25px;
      .label-link{
        color: #444;
        font-weight:bold;
        padding-bottom: 10px;
        font-size: 11px;
      }
    }
    ul.footer-directory{
      list-style: outside none none;
      padding: 0;
      margin: 0;
      li{
        padding-bottom: 2px;
        h2{
          color: #444;
          display: inline-block;
          font-weight: bold;
          line-height: 22px;
          text-transform: uppercase;
          font-size: 11px;
          margin: 0; margin-right: 5px;
        }
        a{
          font-size: 11px;
          
        }
      }
    }

  }

  /*FOOTER BOTTOM*/
  .footer-bottom{
    background: #444;
    color: #fff;
    padding: 8px 0;
  }

}