#container { background-color: #f6f6f6; }
#header { box-shadow: 0px 0px 3px #ccc; }

.choose-password-wrapper .short{
	color: #FF0000;
}
.choose-password-wrapper .weak{
	color: orange;
}
.choose-password-wrapper .average{
	color: #2D98F3;
}
.choose-password-wrapper .strong{
	color: limegreen;
}

.text-success { color: limegreen; }
.text-danger { color: #FF0000; }